/*Mathias*/
* {
    box-sizing: border-box;
}
body {
    padding-left: 10px;
    background-color: #405A80;
}

.atvpopup,
.bowpopup,
.buepopup,
.lerduepopup,
.øksepopup,
.rapelpopup,
.segwaypopup,
.spydpopup,
.højrebpopup {
    border-radius: 15px; 
    width: 1200px;
    height: 700px;
    position: fixed;
    top: 7%;
    left: 7%;
    background-color: #378736;
    color: #FFFFFA;
    transform: scale(0.1);
    transition: 0.1s;
    visibility: hidden;
    align-items: center;
    justify-content:space-between;
}
.open-popup {
    visibility: visible;
    transform: scale(1);
}
.akt-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: max-content;
    grid-gap: 50px;
    text-align: center;
    justify-content: space-between;
    padding-left: 15px;
}
h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFA
}
h2 {
    font-size: 35px;
    padding-top: 100px;
    color: #FFFFFA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container {
    width: 400px;
    height: 400px;
}
#atv {
    background-image: url("assets_mathias/ATV.png");
    background-size: cover;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bow {
    background-image: url("bow-combat.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#lerdue {
    background-image: url("due.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bue {
    background-image: url("bue.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#økse {
    background-image: url("økse.png");
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
#rapel {
    background-image: url("rapelling.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#segway {
    background-image: url("segway.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#højreb {
    background-image: url("sort-hvid.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#spyd {
    background-image: url("spyd.png");
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh;
    gap: 20px;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 100px;
    grid-auto-flow: column;
    align-items: center;

}
.læs-mere {
    padding: 10px 30px;
    background: #378736;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 27px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.luk {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    background: #405A80;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    line-height: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px ;
    color: darkblue;
}
a {
    margin-top: 50px;
    padding: 10px 30px;
    background: #405A80;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 27px;
    text-decoration: none;
}
p {
    font-size: 20px;
}
