* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Fordi vi vil gerne kunne tilføje border box til hmtl dokumentet.  */
}

html {
  /*   font-size: 10px; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* faq overksift */
.faq-head {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*denne centrer min bolle ting*/
section {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.containt {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.ac-item {
  background-color: #1d491c;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
}
.acc-lin {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #265f25;
  width: 100%; /* Så området er klikbart */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.acc-lin .add {
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}
.acc-lin .remove {
  display: none;
}
.svar {
  max-height: 0;
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  /*  background-color: #212838; */
  transition: max-height 650ms;
}
.svar::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 90%;
  /* background-color: #8fc460; */
  top: 50%;
  left: 0;
  transform: translateY(-50%); /* sørger for den blri i midten */
  color: white;
}
.svar p {
  color: white;
  font-size: 1.4rem;
  padding: 2rem;
}
.ac-item:target .svar {
  /* når den blive rklikken, vil svar inden i item, vil have en bestemt stil */
  max-height: 20rem;
}
.ac-item:target .acc-lin .add {
  display: none;
}
.ac-item:target .acc-lin .remove {
  display: block;
}

/* fonts og srkift */
h3 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding-top: 25px;
}
