/*dana*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--custom-green);
}

.imgcont > img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.inspiration {
  /*   display: flex;
  flex-flow: row wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
  row-gap: 3em;
  /*   justify-content: space-evenly; */
  padding: 5em;
  background-color: var(--custom-white);
  width: 100vw;
}
.inspiration > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}
.para1 {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  /*   font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal; */
}

h3 {
  text-align: center;
  margin-inline: auto;
  /*   max-width: 300px; */
  font-family: cheap-pine-sans, sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: var(--custom-green);
}

h2 {
  display: flex;
  justify-content: center;
  color: var(--custom-white);
  background-color: var(--custom-green);

}

.imgcont2 > img {
  width: 15vw;
  aspect-ratio: 1/1;

  object-fit: cover;
}
.imgcont2 {
  display: flex;
  justify-content: center;
}


/* inlines */
section>div {
  display: flex;
  flex-direction: column;
  gap: 2em;
padding-block: 5em;
  background-color: var(--custom-white);
}
section>div > p {

  margin-left: 3em;
  margin-right: 3em;
}
section>.inlinetext {
padding: 0;
}
/* inlines */

button {
  background-color: var(--custom-green);
  border: none;
  /*   position:relative; */
  padding: 15px 25px;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: auto;
  /*   display: inline-block; */
  /*   justify-content: center; */
  /*   font-size: 16px; */
  /*  cursor: pointer; */
  border-radius: 15px;
}

button > a {
  text-decoration: none;
  color: var(--custom-white);
}

video {
  width: 60vw;
  aspect-ratio: 16/9;
  margin-inline: auto;
}

iframe{
  margin-inline: auto;
}
@media (max-width: 1100px) {
  .inspiration {
    grid-template-columns: 1fr;
  }
  iframe{
    width: 80vw;
    aspect-ratio: 16/9;
  }
}