/*dana*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--custom-green);
}

.imgcont > img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.inspiration {
  /*   display: flex;
  flex-flow: row wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
  row-gap: 3em;
  /*   justify-content: space-evenly; */
  padding: 5em;
  background-color: var(--custom-white);
  width: 100vw;
}
.inspiration > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}
.para1 {
  width: 80%;
  text-align: center;
  margin-inline: auto;
  /*   font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal; */
}

h3 {
  text-align: center;
  margin-inline: auto;
  /*   max-width: 300px; */
  font-family: cheap-pine-sans, sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: var(--custom-green);
}

h2 {
  display: flex;
  justify-content: center;
  color: var(--custom-white);
}

.imgcont2 > img {
  width: 237.5px;
  height: 237.5px;
  object-fit: cover;
}
.imgcont2 {
  display: flex;
  justify-content: center;
}

/*  SOMMERFEST FOR PER’S VVS */

.pers-sommerfest {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--custom-white);
}

.pers-sommerfest > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}

/*  TELTET UNDER BØGEKRONERNE */
.teltet_bøgekronerne {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--custom-white);
}
.teltet_bøgekronerne > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}

/* SEAT SALGSKICKOFF */

.seat_kickoff {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--custom-white);
}
.seat_kickoff > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}

/* 60 ÅRS FØDSELSDAG I DET FRI  */
.fødselsdag {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--custom-white);
}
.fødselsdag > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}

/* NORDEA JULEARRANGEMENT  */
.nordea {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--custom-white);
}
.nordea > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}
/* JAMIE’S POLTERABEND  */
.polterabend {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--custom-white);
}
.polterabend > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}
/* FTZ AFDELING PÅ UDFLUGT  */
.ftz {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--custom-white);
}
.ftz > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}
/* EVENT DAGE HOS HARDI INTERNATIONAL A/S  */
.event {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
  justify-content: space-evenly;
  padding-top: 5em;
  margin-bottom: 1em;
  background-color: var(--custom-white);
  padding-bottom: 3em;
}
.event > p {
  font-family: articulat-cf, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 3em;
  margin-right: 3em;
}

button {
  background-color: var(--custom-green);
  border: none;
  /*   position:relative; */
  padding: 15px 25px;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  margin-top: auto;
  /*   display: inline-block; */
  /*   justify-content: center; */
  /*   font-size: 16px; */
  /*  cursor: pointer; */
  border-radius: 15px;
}

button > a {
  text-decoration: none;
  color: var(--custom-white);
}

video {
  max-width: 1200px;
  max-height: 1000px;
}
